body {
 background: #ffff00;
 }
 
 
form {
  
  margin: 0 auto;
  margin-top: 3em;
  width: 50%;
 }

table {
	border: 1px solid #ff8000;
	margin: 0 auto;
	padding: 3px;
}

td, th {
	border: 1px solid #ff8000;
	padding: 3px;
	width: 10%;
}




 .texto {
   margin: .5em;   
   margin-left: 1em;
 }
 .cuadro {
   margin-left: 2em;
   margin-bottom: 1.3em;
 }
 
 footer {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
 }